body{
  background-color: #80545A;
}
.impu{
  outline: none;
  border:2px solid white;
  background: transparent;
  border-radius: 20px;
  height: 40px;
  font-size: 18px;
  color: white;
}
#logar{
  background-color:  #FF5C72;
  color: white;
  border-style: none;
  font-size: 18px;
  margin-top: 5%;
  border-radius: 20px;
}
a{
  color: white;
  font-family:'Aaargh';
  font-size: 18px;
}