/* This is a CSS file */
.bar{
  background: #FF5C72;
  border-radius: 0px 0px 120px 0px;
  height: 45px;
  margin-bottom: 10%;
  width: 30%;
}
body{
  background: #80545A;
}
#voltar
{
  width:20%;
  display:block;
  padding:8px 16px;
  text-align:justify;
  border:none;
  white-space:normal;
  float:none;
  outline:0;
  background-color:transparent;
  color: white;
  font-family: 'Aaargh';
}
.tittle{
  text-align: center;
  color: white;
}
h2{
  text-align: center;
  color: white;
}
h3{
  color: white;
}
h4{
  color: white;
}
button{
  background-color:  #FF5C72;
  color: white;
  border-style: none;
  font-size: 18px;
  margin-top: 1%;
  border-radius: 20px;
  width: 80%;
  margin-left: 10%;
}
