/* This is a CSS file */
.bar{
  background: #FF5C72;
  border-radius: 0px 0px 120px 0px;
  height: 45px;
  margin-bottom: 10%;
}
.tittle{
  text-align: center;
  color: white;
}
body{
  background: rgb(100, 64, 69);
}

h3{
  margin-top: 10px;
}

a{
  color: white;
}
#voltar
{
  width:20%;
  display:block;
  padding:8px 16px;
  text-align:justify;
  border:none;
  white-space:normal;
  float:none;
  outline:0;
  background-color:transparent;
  color: white;
  font-family: 'Aaargh';
}
.display{
  display:none;
}
.displayB{
  display: block;
}
.impu{
  outline: none;
  border:2px solid white;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  border-style: none;
  height: 40px;
  font-size: 18px;
  width: 100%;
  
}
.botao{
  outline: none;
  background-color:  #FF5C72;
  color: white;
  border-style: none;
  font-size: 18px;
  border-radius: 20px;
  width: 100%;
  margin-top: 25%;
}

