.glyphicon-star	{
    color : #FF5C72;
    font-size: 28px;
 }
 .glyphicon-piggy-bank{
   color : #FF5C72;
   font-size: 30px;
   margin-left: 2%;
 }
 .textoDentro{
   color: black;
   font-size: 18px;
 }
 .tituloItem{
   text-align: center
 }
 .botao{
  background-color:  #FF5C72;
  color: white;
  border-style: none;
  font-size: 22px;
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 5px;
  width: 100%;
  margin-top: 0px;
}
