/**/
#carrinho{
  border-radius: 90px;
  background-color: #CC495B;
  border-style: none;
  box-shadow: 0 0 1em #FFA8B4;
  position: fixed;
  margin-top: 30%;
}
#bar{
  margin-top: 3%;
  border-style: none;
  border-radius: 20px;
  height: 30px;
  font-size: 18px;
}
.barra{
  background-color: #FFA8B4;
}
#quadrinho{
  background-color: transparent;
  border-style: none;
  margin-top: 10%;
  border-radius: 20px;
  padding: 0px;
  box-shadow: 0 0 1em rgba(255, 168, 180, 0.37);
}
button:focus{
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}
input:focus{
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}
#lupa{
  background-color: transparent;
  border-style: none;
  margin-top: 20%;
  margin-right: 30%;
  width: 20%;
}
#icone{
  background-color: transparent;
  border-style: none;
  padding: 5px;
  margin-left: 5%;
}
@font-face { 
   font-family: 'Aaargh';
   src: url('/fonts/Aaargh.ttf');
   src: local('Aaargh'), local('Aaargh'), url('/fonts/Aaargh.ttf') format('truetype');
}
form.pesquisa input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: none;
  border-radius: 15px;
  float: left;
  width: 80%;
  background: white;
  height: 30px;
  margin-bottom: 5%;
  margin-top: 2%;
}

form.pesquisa button {
  float: left;
  width: 10%;
  padding: 10px;
  background: transparent;
  margin-left: 2%;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
  margin-bottom: 5%;  
  border-radius: 20px;
  height: 40px;
  margin-top: 1%;
}

form.pesquisa button:hover {
  background: #CC495B;
}

form.pesquisa::after {
  content: "";
  clear: both;
  display: table;
}

