/**/
body{
  background-size:100%;  
  min-height: 300px;
}
.info{
  color: white;
  margin-top: 0px;
  font-size: 18px;
  padding: 0px;
}
i{
  color: white;
  font-size: 40px;
}
.tittle{
  text-align: center;
  color: white;
}
input{
  width: 90%;
  margin-top: 2%;
}
.impu{
  outline: none;
  border:2px solid white;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  border-style: none;
  height: 40px;
  font-size: 18px;
}
#Login{
  margin-top: 30px;
}
input.impu:active, input.impu:focus{
color: rgb(0, 0, 0);
}
a{
  color: white;
  font-size: 18px;
}
h3{
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
}
#cadastrar{
  background-color:  #CC495B;
  color: white;
  border-style: none;
  font-size: 18px;
  margin-top: 3%;
  border-radius: 20px;
  width: 80%;
  margin-left: 10%;
  outline: none;
}
#logar{
  background-color:  #FF5C72;
  color: white;
  border-style: none;
  font-size: 18px;
  margin-top: 10%;
  border-radius: 20px;
  width: 80%;
  margin-left: 10%;
  outline: none;
}
#esqueceu{
  background-color:  #802E39;
  color: white;
  border-style: none;
  font-size: 18px;
  margin-top: 1%;
  border-radius: 20px;
  width: 80%;
  margin-left: 10%;
  outline: none;
}
.bar{
  background: #FF5C72;
  border-radius: 0px 0px 120px 0px;
  height: 60px;
}
.login-senha{
  margin-top: 20%;
}
#senha{
  margin-top: 10%;
}

