body{
  background-image: url('co.jpg');
}
#editar{
  background-color: rgb(255, 168, 180);
  color: white;
}
.barra{
  background-color: rgb(255, 168, 180);
  color: white;
}
.barra h2{
  margin-bottom: 10px;
  margin-top: 2%;
}
 .fechar{
  float: left;
  width: 20%;
  padding: 0px;
  background: transparent;
  margin-left: 2%;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 8%;  
  border-radius: 20px;
  height: 40px;
  font-size: 35px;
}

button:focus{
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}
h2{
  color: white;
}
.frete{
  background-color: rgb(128, 84, 90);
}
.presente{
  background-color: rgb(158, 103, 110);
  color: white;
}
.fret{
  margin-top: 4%;
  color: white;
  text-align: center;
  font-size: 20px;
}
h4{
  margin-top: 4%;
  color: white;
  text-align: center;
}
button{
  margin-top: -10%;
  border-style: none;
}
i{
  color: white;
  font-size: 40px;
}
.bar{
  background: #FF5C72;
  border-radius: 0px 0px 120px 0px;
  height: 45px;
}
#voltar
{
  width:20%;
  display:block;
  padding:8px 16px;
  text-align:justify;
  border:none;
  white-space:normal;
  float:none;
  outline:0;
  background-color:transparent;
  color: white;
  font-family: 'Aaargh';
}
.tittle{
  text-align: center;
  color: white;
}
#finalizar{
  background-color:  #FF5C72;
  color: white;
  border-style: none;
  margin-top: 10%;
  border-radius: 20px;

}
#presente{
  background-color:  #FF5C72;
  color: white;
  border-style: none;
  margin-top: 10%;
  border-radius: 20px;  
}
a{
  color: white;
}
