/* This is a CSS file */
#adicionarLink{
   margin-top: 10px;
   background-color: #57B36A;
   width: 100%;
   border-style: none;
   color: white;
   font-size: 20px;
   border-radius: 10px;
}
.meus{
  margin-left: 50px;
  font-size: 22px;
}
#histo{
 background-color: #FF5C72;
}
#chat{
 background-color: rgb(224, 68, 89);
}
#solic{
 background-color: rgb(184, 49, 67);
}
.window{
    display:none;
    width:300px;
    height:auto;
    position:fixed;
    left:0;
    top:0;
    background:white;
    z-index:9900;
    border-radius:10px;
} 
#mascara{
    display:none;
    position:fixed;
    left:0;
    top:0;
    width: 100%;
    z-index:9000;
    background-color:#000;
}
.fechar{display:block; text-align:right;}

.botao{
  background-color:  #FF5C72;
  color: white;
  border-style: none;
  font-size: 22px;
  border-radius: 90px;
  margin-bottom: 5px;
  width: 50%;
}
#alink{
   width: 100%;
   text-align: center;
}
#alterar{
border-radius: 0px 0px 10px 10px;
background-color:  rgb(236, 69, 91);
}
#deletar{
border-radius: 0px 0px 10px 10px;
}
#exc{
  width: 100%;
}
#edi{
  width: 100%;
}

label{
  text-align: center;
}
#text{
  width: 100%;
  resize: none;
  height: 55px;
}
 tr{
  color:black;
  }
td{
  color:rgb(224, 68, 89);
  }
#tabela{
  background-color: white;
  border-radius: 10px;
  margin-top: 10%;
  }
td button{
  outline: none;
  background-color:  #FF5C72;
  color: white;
  border-style: none;
  border-radius: 20px;
  margin-top: 1px;
}
textarea:focus{
    -moz-user-focus: none;
}
.display{
  display:none;
}
.displayB{
  display: block;
}